html, body {
  margin: 0;
  color: #2B283A;
  font-family: Inter;
}

header {
  background-color: #F55A5A;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 18;
}

header > img {
  width: 24px;
  height: 24px;
  margin-right: 7px;
}

header > h1 {
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 4px;
  padding: 0;
}

article.journal-entry {
  display: flex;
  padding: 18px;
  border-radius: 10px;
  margin-left: 40px;
  margin-bottom: 10px;
  width: 470px;
  height: 168px;
  border: solid #f3f0f0;
}

article.journal-entry > img {
  width: 125px;
  height: 168px;
  object-fit: cover;
  border-radius: 5px;
}

article.journal-entry div.info-container {
  margin: 19;
}

span.country {
  font-weight: 400;
  font-size: 0.64rem;
  letter-spacing: 3px;
  line-height: 100%;
  margin-left: 4px;
}

img.marker {
  width: 7px;
  height: 9.55px;
}

article.journal-entry div.location a {
  color: #918E9B;
  font-size: 0.64rem;
  text-decoration: underline;
  margin-left: 12px;
}

div.info-container > h2 {
  margin-top: 7px;
  font-weight: 700;
  font-size: 1.56rem;
}

div.info-container .date {
  margin-top: 17;
  font-size: 0.64rem;
  font-weight: 700;
}

div.info-container > p {
  font-weight: 400;
  line-height: 150%;
  font-size: 0.64rem;
  padding: 0;
  margin-top: 9px;
}